#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout .site-layout-background {
  background: #fff;
}

section {
  height: 100%;
}

aside {
  background-color: #fff !important;
  padding: 4px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root .MuiListItemIcon-root {
  color: white;
}

#layout-menu-image {
  width: 10%;
}

#menu-box nav {
  background-color: #169bd5 !important;
  color: white;
  height: 100%;
}

#logoimage {
  margin-top: 8px;
  text-align: left !important;
}
#header-email-id {
  font-family: Roboto;
  margin-top: 14px;
}
.scrollable-element {
  scrollbar-width: thin;
}

.simplebar-wrapper {
  height: 100%;
}

#simple-bar {
  height: 100%;
  overflow-x: hidden !important;
}
.scrollbar {
	background-color: #F5F5F5;
	float: left;
	height: 300px;
	margin-bottom: 25px;
	margin-left: 22px;
	margin-top: 40px;
	width: 65px;
	overflow-y: scroll;
}
